body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0c0f14;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
